@import "tailwindcss";

@font-face {
    font-family: 'Circular Web';
    src: url('/fonts/circularweb-book.woff2') format('woff2');
}

@font-face{
    font-family: 'General Sans';
    src: url('/fonts/general.woff2') format('woff2');
}

@font-face {
    font-family: 'Robert';
    src: url('/fonts/robert-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Robert Medium';
    src: url('/fonts/robert-medium.woff2') format('woff2');
}

body{
    font-family: 'General Sans', sans-serif;
    width: 100dvw;
    background-color: #dfdff0;
    overflow-x: hidden;
}

@layer base{
    .font-general { font-family: 'General Sans', sans-serif !important; }
    .font-robert { font-family: 'Robert', sans-serif !important; }
    .font-robert-medium { font-family: 'Robert Medium', sans-serif !important; }
    .font-circular { font-family: 'Circular Web', sans-serif !important}
}